.max-width-small{
    max-width: 640px;
}
.max-width-medium{
    max-width: 800px;
}
.max-width-large{
    max-width: 1024px;
}

.icon-sm{
    font-size: 1.5rem;
    // line-height: 1.25;
}
.icon-md{
    font-size: 2rem;
    // line-height: 1.25;
}
.icon-lg{
    font-size: 2.5rem;
    line-height: 1.25;
    width: 1em;
}
.icon-xl{
    font-size: 3rem;
    line-height: 1.25;
    width: 1em;
}